.cart {
  height: 500px;
  margin: 50px 250px 100px 250px;
  border: 1px solid #cf961b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartItem {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartItemInfo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cartItemQuantity {
  width: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.cartItemPrice {
  width: 15%;
  display: flex;
  flex-direction: column;
}
.cartItemPrice h2 {
  color: red;
}
.removeCartItem {
  width: 10%;
}
.cartItem button {
  background-color: none;
  border: none;
  cursor: pointer;
}
.cartItem img {
  width: 200px;
}
.cartItem button img {
  width: 15px;
}
.removeCartItem button {
  border-radius: 50%;
}
.btn-updown {
  background-color: #ffffff;
}
.group-btn {
  display: flex;
  flex-direction: column;
}
.pay {
  background-color: #cf961b;
  color: white;
  border: none;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
}
.cancle {
  margin-left: 18px;
}
.cancle:hover {
  background-color: rgb(194, 14, 14);
}
