.customer {
  margin-left: 300px;
  margin-top: 50px;
}
.customer-table {
  margin: 50px;
  padding: 12px;
  border: 2px solid #c47135;
  border-radius: 8px;
}
.mng-address-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 15px;
}
